/*BODY*/
body{
    width:100%;
    height: 500%;
    font-family: "Lato", sans-serif;
    background-color:rgba(0,0,0,0.9);
    z-index: 1;
    /*background-image: url(/img/dancer4.jpg);
    background-size:cover;*/ 
}

/*Side cover Bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    font-family: 'Lobster', cursive;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: crimson;
    display: block;
    transition: 0.3s
}

.sidenav a:hover{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Icons*/
.icons{
    float: right;
    margin: 15px 5px;
    font-size: 30px;
    background-color: ;
    border: 2px solid crimson;
    border-radius: 40px;
}

.icons a{
    color:#fff;
    margin: 0 15px;    
}

/*HEADER*/
.HEAD{
   width: 100%;
   height:12%; 
   background-image:url(../img/dj.jpg);
    z-index: 2;
}

.HEAD h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: crimson;
    font-size:50px;
    font-weight:bold;
    text-align: center;
}

.HEAD h2{
    font-size:30px;
    color:#FFC600;
    font-family: 'Lobster', cursive;
    text-align: center;
}

/*Disco buttons*/
.row a{
    padding:10px ;
    font-family: 'Indie Flower', cursive;
    color:crimson;
    border: 3px solid #A85BCC;
    border-radius: 20px;
    font-size: 40px;
    text-align: center; 
    transition-property: background, border-radius;
  transition-duration: 1s, 1s;
  transition-timing-function: linear;
}

.row a:hover{
    border-radius: 50%;
    background-color:#FFC600;
}

/*3 Col img*/
.row 